body {
    background-color: #E1B29E;
    font-family: "Trebuchet MS";
}
h1{
    color:#728D79;
    text-align: center;
    font-family: 'Cookie', cursive;
    font-size: 300%;
    margin: 0; 
}
.menu {
    display: flex;                /* Transformation en flexbox */
    padding:0;                    /* Suppression des marges internes */
    justify-content: space-around;/* Alignements des liens dans le menu */
}
.menu li {
    list-style-type: none ;       /* Suppression des puces */
}
.menu a {
    display:block;                /* Transformation en block */
    min-width: 150px;             /* Largeur minimale des liens */   
    
    margin: 0.5rem;               /* Marges externes */
    padding: 0.4rem 0;            /* Marges internes */
    text-align: center;           /* Centrage du texte */   
    background-color: #EED8CE;    /* Arrière-plan */
    color: #728D79;                  /* Couleur du texte */
    text-decoration: none;        /* Suppression du soulignement */
    border: 1px solid #EED8CE;       /* Ajout d'une bordure */
    border-radius: 4px;           /* Arrondis des bordures */ 
    transition: all 1s ;          /* Ajout des effets de transition */
}
.menu a.actif {    
    background-color: #EED8CE ; 
    color: #728D79 ;
    border-color: #EED8CE ;
}
.menu a:hover,
.menu a:hover.actif{
    background-color: #728D79;
    color: #E1B29E;
    border-color: #728D79;
}
.trait{
    height : 10px;
    background-color: #728D79;
    margin: 2%;
    border-radius: 10px;
}
iframe{
    margin: 2%;
    width: 95%;
    height: 200px;
}
h3{
    margin:5%;
    font-size: 25px;
    color:#728D79;
    text-decoration: underline;
}
p{
    margin: 5%;
    font-size: 0.9em;
    color: #000;
}
#logo{
    height:150px;
    width:150px;
    vertical-align:middle;
    margin-right: 10%;
} 
#feuille{
    height: 200px;
    vertical-align:middle;
    margin-left: 15%;
}
.rectangle,.rectangle1,.rectangle2,.rectangle3,.rectangle4,.rectangle5,.rectangle6,.rectangle7,.rectangle8,.rectangle9,.rectangle10,.rectangle11,.rectangle12,.rectangle13{
    background-color: #EED8CE;
    border-radius: 10px;
    border: 3px solid #728D79;
    display: inline-block;
    margin: 20px;
}

#caroussel{
    margin-left: 25%;
    height: 450px;
    width: 600px;
    overflow: hidden;
    border-radius: 10%;
}
.images{
    height: 450px;
    display: flex;
    animation-duration: 20s;
    animation-name: mesImages;
    animation-iteration-count: infinite;
}
@keyframes mesImages {
    0%{
        transform: translateX(0%);
    }
    50%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
    
}
.adr{
    margin: 0%;
    margin-left: 5%;
}
.adr2{
    margin: 0%;
    margin-left: 21%;
}
.embleme{
    display: inline-block;
    margin-left: 5%;
}
#logo2{
    height:100px;
    width:100px;
    vertical-align:middle;
    margin-left: 45%;
}
#feuille2{
    height: 200px;
    transform: rotate(-120deg);
    vertical-align:middle;
    margin-left: 15%;
}
#feuille3{
    height: 200px;
    transform: rotate(61deg);
    vertical-align:middle;
    margin-left: 20%;
}
#prestation{
    font-size: 12px;
}
ul{
    font-size: 20px;
}
li{
    margin: 3%;
}
#portrait{
    height: 400px;
    margin: 5%;
    border-radius: 5%;
}
#carte_cadeau{
    border: 1px solid #000;
    vertical-align:bottom;
    margin: 1%;
}

.rectangle{
    width: 600px;
    height : 150px;
    margin: 2%;
}

.rectangle1{
    width: 300px;
    height : 200px;
    margin: 2%;
}

.rectangle2{
    width: 300px;
    height : 130px;
    margin-top: 10%;
    margin-left: 10%;
}

.rectangle3{
    width: 500px;
    height : 250px;
    margin: 2%;
}

.rectangle4{
    width: 450px;
    height : 400px;
    margin: 2%;
}

.rectangle5{
    width: 700px;
    height : 500px;
    margin: 2%;
}

.rectangle6{
    width: 500px;
    height : 450px;
    margin: 2%;
}

.rectangle7{
    width: 450px;
    height : 300px;
    margin: 2%;
}

.rectangle8{
    width: 550px;
    height: 450px;
    margin: 2%;
}

.rectangle9{
    width: 500px;
    height: 200px;
    margin: 2%;
}

.rectangle10{
    width: 500px;
    height : 150px;
    margin: 2%;
}

.rectangle11{
    width: 450px;
    height: 120px;
    margin: 2%;
}

.rectangle12{
    width: 550px;
    height: 220px;
    margin: 2%;
}

.rectangle13{
    height: 375px;
    width: 500px;
    margin: 2%;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex-basis: 50%;
}

@media screen and (max-width: 3822px) {
/* For desktop: */
    .rectangle {
        width: 90% ;
    }

    .rectangle1 {
        width: 90% ;
    }

    .rectangle2 {
        width: 80% ;
    }

    .rectangle4 {
        width: 90% ;
    }

    .rectangle5 {
        width: 90% ;
    }

    .rectangle6 {
        width: 90% ;
    }

    .rectangle7 {
        width: 90% ;
    }

    .rectangle8 {
        width: 90% ;
    }

    .rectangle9 {
        width: 90% ;
    }

    .rectangle10 {
        width: 90% ;
    }

    .rectangle11 {
        width: 90% ;
    }

    .rectangle12 {
        width: 90% ;
    }

    .rectangle13 {
        width: 90% ;
    }

    h1{
        font-size: 300%;
    }

    p{
        font-size:1.1em;
    }
}

span{
    font-weight:bold;
    font-family: 'Cookie', cursive;
    margin: 4%;
    font-size: 2em;
}